<div ng-controller="postPageCtrl">
<!-- header start -->
  <div class="navbar">
    <nav class="cyan darken-2">
      <div class="nav-wrapper">
        <a href="#/" class="brand-logo right waves-effect waves-yellow">FReddit</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li>
            <a href="#/" class="waves-effect waves-yellow"><i class="material-icons left">note_add</i>New Post</a>
          </li>
          <li>
            <a class="dropdown-button cyan darken-2 waves-effect waves-yellow" href="javascript:void(0);" data-activates="dropdown1" dropdown>Sort By</a>
            <ul id="dropdown1" class="dropdown-content">
              <li><a ng-click="dropdownFilter('ascending', 'title')" href="javascript:void(0);">Title</a></li>
              <li><a ng-click="dropdownFilter('descending', 'votes')" href="javascript:void(0);">Votes</a></li>
              <li><a ng-click="dropdownFilter('descending', 'date')" href="javascript:void(0);">Date</a></li>
            </ul>
          </li>
          <li>
            <form>
              <div class="input-field">
                <input ng-model="search" id="search" type="search" required>
                <label for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </li>
        </ul>
      </div>
    </nav>
  </div>
<!-- header end -->

<!-- all posts content start -->
  <div class="col s12">
    <h3 class="posts-title">The Posts</h3><br><hr>
  </div>
  <div ng-repeat="post in posts | orderBy:filter | filter:search">
    <div class="container z-depth-5 grey lighten-2">
      <div class="row">
        <div class="col s2">
          <img class="post-image" src="{{post.image}}">
        </div>
        <div class="col s8">
          <h5>
            <span class="{{post.color}}-text">Likes: {{post.votes}}</span>
            <span ng-click="thumbUp(post.id, post.votes)"><i class="material-icons left">thumb_up</i></span>
            <span ng-click="thumbDown(post.id, post.votes)"><i class="material-icons left">thumb_down</i></span>
            <span>| {{post.title}}</span>
          </h5>
          <input type="hidden" value="{{post.id}}">
          <h6>{{post.date}}</h6><br>
          <h4>{{post.author}}</h4>
          <p>{{post.description}}</p>
          <ul class="col s5 pull-s3 collapsible popout" data-collapsible="accordion" watch>
            <li ng-repeat="single in collapsibleElements">
              <div class="collapsible-header waves-effect waves-yellow">
                <i class="material-icons">comment</i>{{post.comments.length}}
                <ng-pluralize count="post.comments.length" when="{
                  '0': 'Comments',
                  '1': 'Comment',
                  'other': 'Comments'}">
                </ng-pluralize>
              </div>
              <div ng-repeat="comment in post.comments" class="collapsible-body">
                <p>{{comment.author}}: {{comment.text}}</p>
              </div>
            </li>
          </ul>
          <div class="col push-s6">
            <a class="waves-effect waves-blue btn white black-text" href="#add-comment-modal" modal>Add Comment</a>
          </div>
        </div>
      </div>
    </div>
<!-- all posts content end -->

<!-- add commment modal content -->
    <div id="add-comment-modal" class="modal">
      <div class="modal-content">
        <h4>New Comment</h4>
          <form ng-submit="createComment(post.id, newCommentObj);comment=false">
            <div class="input-field">
              <input ng-model="newCommentObj.author" id="comment_author" type="text" required>
              <label for="comment_author">Author</label><br>
            </div>
            <div class="input-field">
              <input ng-model="newCommentObj.text" id="comment_text" type="text" required>
              <label for="comment_text">Comment:</label>
            </div>
            <div class="modal-footer">
              <button type="submit" class="modal-action modal-close waves-effect waves-yellow btn-flat">Add New Comment</button>
            </div>
          </form>
      </div>
    </div>
<!-- end add comment modal -->
  </div>
</div>
